<%= button_to 'Назад', root_path, class: "back_to_all btn btn-outline-primary", method: :get %>
<div>
<p>Cредний балл по дисциплине</p>
<table class="table table-bordered table-sm table-hover">
        <th scope="col">Средний балл</th>
        <% @request.each do |teacher| %>
        <tr scope="row">
            <td><%= teacher['round']%></td>
        </tr>
        <% end %>
    </table>
</div>